body{
    
}
.contenedor{
    background: rgb(255, 255, 255);
    width: 450px;
    height: 560px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    /* grid-template-areas: 
    "n1 n1 n2"
    "n3 n3 n2"
    "n3 n3 n2"
    "n4 n4 n4"; */
    gap: 10px;
    padding: 10px;
    box-sizing: border-box  ;
}

div .dildo{
    color: #fff;
    text-align: center;
    line-height: normal;
   
}
div .dildo:hover{
    border: 8px solid #fff;
    
}

.uno{
    background: rgb(175, 32, 54);
      grid-column: span 2;
}
.dos{
    background: rgb(113, 150, 151);
    grid-row: span 3;
}
.tres{
    background: rgb(194, 225, 18);
    grid-row: span ;
}
.cuatro{
    background: rgb(23, 174, 9);
    grid-row: span ;
}
.cinco{
    background: rgb(70, 69, 70);
    grid-column: span 2 ;
}
.seis{
    background: rgb(177, 116, 24);
    grid-column: span 3 ;
}
.siete{
    background: rgb(162, 25, 162);
    grid-row: span ;
}
