.content {
  display: grid;
  /* width: 600px; */
  /* height: 500px; */
  border: 4px solid #000;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  /* place-items: center; */
  /* justify-items: center; */
  /* align-items: center; */
  /* grid-auto-flow: dense; */
  /* align-items: flex-start; */
  /* grid-auto-flow: column; */
  column-gap: 10px;
}
.caja {
  /* width: 70px;
  height: 70px; */
  /* font-size: xx-large; */
  text-align: center;
  line-height: 100px;
  /* border: 2px solid red; */
}

.caja1 {
  background: rgb(16, 235, 224);
  /* justify-self: start;
  align-self: start; */
  /* order: 2; */

}
.caja2 {
  background: rgb(219, 52, 52);
}
.caja3 {
  background: rgb(21, 182, 69);
  /* align-self: start;
  justify-self: end; */
}
.caja4 {
  background: rgb(21, 67, 194);
}
.caja5 {
  background: rgb(204, 16, 148);
}
.caja6 {
  background: rgb(94, 168, 128);
}
.caja7 {
  background: rgb(208, 255, 0);
  /* align-self: end;
  justify-self: start; */
}
.caja8 {
  background: rgb(44, 3, 44);
}
.caja9 {
  background: rgb(30, 253, 0);
  /* align-self: end;
  justify-self: end; */
}
